.transparent-button {
    -fx-padding: 0;
    -fx-background-insets: 0;
    -fx-background-color: transparent;
}

.light-svg-button > .svg {
    -fx-fill: derive(-fx-mid-text-color, 30%);
}
.light-svg-button:hover > .svg {
    -fx-fill: derive(-fx-dark-text-color, 30%);
}
.light-svg-button:armed > .svg {
    -fx-fill: -fx-dark-text-color;
}

.hand-cursor {
    -fx-cursor: hand;
}

.small-divider .split-pane-divider {
    -fx-padding: 0 0.1em 0 0.1em;
    -fx-background-color: transparent;
}

.silent-disable:disabled, .silent-disable * {
    -fx-opacity: 1;
}