.tooltip {
    -fx-font-size: 12;

    -fx-background-color: -fx-text-background-color;
    -fx-border-color: -fx-mid-text-color;
    -fx-border-width: 1.35;
    -fx-text-fill: -fx-mid-text-color;
    -fx-padding: 0.3em;
    -fx-background-radius: 3;
    -fx-border-radius: 3;
}