.node-css, .node-css > .viewport {
    -fx-background-color: -fx-control-inner-background;
}

.property-name {
    -fx-text-fill: derive(CHART_COLOR_3, -20%);
}

.css-property {
    -fx-padding: 0 !important;
    -fx-background-color: transparent;
    -fx-background-insets: 0 !important;
    -fx-font-family: Consolas;
    -fx-font-size: 14;
}

.property-type {
    -fx-text-fill: -fx-dark-text-color;
    -fx-background-color: -fx-base;
    -fx-background-insets: -3;
    -fx-font-size: 1em;
}

.property-value {
    -fx-border-width: 1;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
    -fx-text-fill: derive(CHART_COLOR_1, -25%);
    -fx-font-weight: bold;
}
.property-value:hover {
    -fx-border-color: derive(-fx-text-box-border, 10%);
}
.property-value:focused {
    -fx-border-color: derive(-fx-text-box-border, -15%);
}

.string {
    -fx-text-fill: derive(CHART_COLOR_3, -20%);
}

.enum-property {
    -fx-background-color: rgba(0, 0, 0, 0.05);
    -fx-padding: -4;
}

.enum-property .list-view .list-cell {
    -fx-background-color: rgba(0, 0, 0, 0.05);
}

.enum-property .list-view .list-cell:hover {
    -fx-background-color: -fx-background;
    -fx-text-fill: -fx-dark-text-color;
}

.enum-property .list-view .list-cell:selected {
    -fx-background-color: -fx-background;
    -fx-text-fill: -fx-dark-text-color;
}

.color-property {
    -fx-border-color: derive(-fx-text-box-border, -5%);
    -fx-cursor: hand;
}

.color-property:hover {
    -fx-border-width: 1.5;
}

.property-expander {
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-background-radius: 100;
    -fx-background-color: derive(-fx-base, -10%);
    -fx-padding: 0 5;
    -fx-cursor: hand;
    -fx-alignment: top-center;
}