* {
    -fx-font-family: "Consolas";
    -fx-font-size: 15;
}

.tree-cell {
    -fx-background-color: transparent;
    -fx-padding: 2 0 2 0;
    -fx-background-radius: 7.5;
    -fx-background-insets: 1;
    -fx-text-fill: -fx-dark-text-color;
}

.real-tree-cell:hover {
    -fx-background-color: derive(-fx-accent, 30%);
}

.real-tree-cell:selected {
    -fx-background-color: derive(-fx-accent, 50%);
    -fx-text-fill: -fx-dark-text-color;
}

.scene-tree {
    -fx-fit-to-height: true;
}

.value-text {
    -fx-fill: derive(CHART_COLOR_1, -8%);
    -fx-font-weight: bold;
}

.text-indicator {
    -fx-fill: derive(CHART_COLOR_5, -10%);
    -fx-font-weight: bold;
}

