.paren, .semicolon, .brace {
    -fx-fill: darkgray;
}

.number {
    -fx-fill: #98682c;
}

.keyword {
    -fx-fill: purple;
}

.value {
    -fx-fill: #58b7c2;
}

.pseudo-class,.color-code {
    -fx-fill: #ba3db5;
}

.style-class {
    -fx-fill: #c0842c;
}

.string {
    -fx-fill: green;
}

.comment {
    -fx-fill: gray;
}