.linear-gradient-picker {
    -fx-alignment: top-center;
    -fx-padding: 10;
    -fx-spacing: 5;
}

.result-preview {
    -fx-border-width: 1;
    -fx-border-color: #1f1f1f;
}

.stop-line {
    -fx-alignment: center;
    -fx-spacing: 5;
}

.top-layout-hbox {
    -fx-spacing: 5;
}

.point-connector {
    -fx-stroke-width: 4;
    -fx-stroke: #282828;
}