.stops-picker {
    -fx-spacing: 15;
    -fx-alignment: center;
}

.stops {
    -fx-hgap: 5;
    -fx-vgap: 5;
    -fx-alignment: center;
}

.stop-picker-footer {
    -fx-alignment: center;
    -fx-spacing: 10;
}