.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 0;
}

.tab-pane {
    -fx-tab-min-width: 90px;
    -fx-border-width: 1;
    -fx-background-insets: 0;
    -fx-spacing: -1;
}

.tab-pane:top *.tab-header-area {
    -fx-background-insets: 0;
    -fx-padding: 0 0 0 -1;
}

.tab .tab-close-button {
    -fx-opacity: 0;
}

.tab:hover .tab-close-button,
.tab:selected .tab-close-button {
    -fx-opacity: 1;
}